.usersPage {
    color: #fff;
    padding: 15px;
}

.iconAndStatus img {
    border: 3px solid rgb(255, 166, 0);
    width: 75px;
    height: 70px;
    border-radius: 50%;
}

.followBtn {
    margin-bottom: 15px;
}

.followingBtn {
    width: 75px;
}

.userStatus {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
}

.userLocation {
    margin-top: -120px;
}

.nextBtn {
    display: inline-block;
    float: right;
    border: 3px solid white;
    padding: 0 5rem;
}