.numbers {
    color: #fff;
    cursor: pointer;
    justify-content: space-around;
}

.activeNumbers {
    border: 1px double gray;
}

.activeNumbers:hover {
    color: gold;
}

.chooseNum {
    color: blue;
    font-weight: 700;
}

.btnPrev{
    margin-right: 15px;
}

.btnNext{
    margin-left: 15px;
}